/* Main Styling */

*
{
    font-family: Calibri;
    transition: all 200ms;
    font-size: clamp(10px, 3.6vw, 19px) !important;
}
body
{
    background-color: #ebebeb;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
nav
{
    background-color: white;
    z-index: 999;
    position: fixed;
    width: calc(100% - 34px);
    padding: 16px;
    top: 0;
}
main 
{
    flex: 1;
}
footer 
{
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    width: calc(100% - 42px);
    bottom: 0;
    padding: 20px;
}
footer ul 
{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 20px;
}
footer li 
{
    display: inline-block;
}
i
{
    font-size: 18px;
}
a
{
    text-decoration: underline #F9E450;
    color: black;
    font-size: 18px;
}
a:hover
{
    text-decoration: underline #81CFF0;
}
a.active
{
    background-color: #F9E450;
    padding: 10px 20px 10px 20px;
    border-radius: 18px;
    border: 2px grey solid;
}


/* Class Styling */

.logo
{
    font-size: 20px;
}
.meun:hover
{
    cursor: pointer;
    font-size: 20px;
}
.btn-small
{
    background-color: black;
    border: none;
    color: white;
    font-size: 12px;
    padding: 9px;
    border-radius: 10px;
}
.overflow-slide
{
    display: flex;
    gap: 10px;
    overflow: auto;
    justify-content: space-between;
}
.tasks-card
{
    border: 2px gray solid;
    border-radius: 14px;
    width: 80vw;
    height: auto;
    display: block;
}
.tasks-top
{
    padding: 16px;
    border-bottom: 2px grey solid;
}
.tasks-top2
{
    padding: 5px;
    border-bottom: 2px grey solid;
}
.tasks-bottom
{
    padding: 13px 9px 1px 0px;
}
.tasks-bottom2
{
    padding: 13px;
}
.tasks-title
{
    font-size: 20px;
    font-weight: 700;
}
.floating-points
{
    background-color: #81CFF0;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    top: -45px;
    right: 50px;
}
.points
{
    color: #81CFF0;
    font-size: 16px;
}
.stars
{
    background-color: #F9E450;
    padding: 3px;
    border-radius: 50px;
}
.tasks-bgimg
{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.activeUnit
{
    background-color: #81CFF0;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid black;
}
.profile
{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 25px !important;
    height: 100%;
    border-radius: 10px;
}


/* Media Query */

@media only screen and (min-width: 800px)
{
    .mobilize
    {
        width: 25vw;
        border: 1px solid;
        border-radius: 10px;
        overflow: auto;
    }
    body
    {
        background-color: #ebebeb;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer
    {
        width: calc(25vw - 40px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 1px solid gray;
    }
    footer ul
    {
        padding: 10px;
    }
    footer i
    {
        font-size: 14px;
    }
    nav
    {
        background-color: white;
        z-index: 999;
        position: fixed;
        width: calc(25vw - 33px);
        padding: 16px;
        top: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 1px solid gray;
    }
    nav i ,.logo
    {
        font-size: 15px;
    }
    .con-4
    {
        padding-left: 1vw !important;
        padding-right: 1vw !important;
    }
    .tasks-card
    {
        border: 2px gray solid;
        border-radius: 14px;
        width: 22vw;
        display: block;
    }
    .overflow-slide::-webkit-scrollbar {
        width: 1px;
        background-color: #ebebeb;
    }
    
    .overflow-slide::-webkit-scrollbar-thumb {
        width: 1px;
        background-color: #e3e3e3;
    }
     
    .overflow-slide::-webkit-scrollbar-thumb:hover {
        width: 0.1px;
        height: 0.1px;
        background-color: #cacaca;
    }
}

/* Extra Styling */

.right
{
    text-align: right;
}
.left
{
    text-align: left;
}
.w-100
{
    width: 100%;
}
.w-75
{
    width: 75%;
}
.w-50
{
    width: 50%;
}
.w-25
{
    width: 25%;
}
.h-100
{
    height: 100%;
}
.h-75
{
    height: 75%;
}
.h-50
{
    height: 50%;
}
.h-25
{
    height: 25%;
}
.fW-500
{
    font-weight: 500;
}
.fW-600
{
    font-weight: 600;
}
.fW-700
{
    font-weight: 700;
}
.fW-800
{
    font-weight: 800;
}
.fW-900
{
    font-weight: 900;
}
.con
{
    padding-left: 5vw;
    padding-right: 5vw;
}
.con-1
{
    padding-left: 1vw;
    padding-right: 1vw;
}
.con-2
{
    padding-left: 2vw;
    padding-right: 2vw;
}
.con-3
{
    padding-left: 3vw;
    padding-right: 3vw;
}
.con-4
{
    padding-left: 4vw;
    padding-right: 4vw;
}
.b-text
{
    font-weight: 600;
    font-size: 18px;
}
.form-control 
{
  width: 100%;  
  font-size: 18px;
  border: none;
  position: relative;
  left: -4px;
  background-color: transparent;
}

/* UseFulLess Styles */

.b-5
{
    top: -2px;
    position: relative;
}